MediatorServer/.dockerignore
MediatorServer/case_data/0.pdf
MediatorServer/configs/server_config_noVulkan.json
MediatorServer/configs/server_config_vulkan.json
MediatorServer/Dockerfile
MediatorServer/documentos_rag/boe_codigo_civil_legislacion_complementaria.pdf
MediatorServer/documentos_rag/lec.pdf
MediatorServer/documentos_rag/memento.pdf
MediatorServer/documentos_rag/precios.pdf
MediatorServer/main.py
MediatorServer/ollama_query.py
MediatorServer/rag.py
MediatorServer/rag_config.json
MediatorServer/requirements.txt
MediatorServer/run.bat
MediatorServer/runVulkan.bat
MediatorServer/server_config.json
PythonServer/.dockerignore
PythonServer/case_data/0.pdf
PythonServer/configs/server_config_noVulkan.json
PythonServer/configs/server_config_vulkan.json
PythonServer/Dockerfile
PythonServer/documentos_rag/boe_codigo_civil_legislacion_complementaria.pdf
PythonServer/documentos_rag/lec.pdf
PythonServer/documentos_rag/memento.pdf
PythonServer/documentos_rag/precios.pdf
PythonServer/main.py
PythonServer/ollama_query.py
PythonServer/rag.py
PythonServer/rag_config.json
PythonServer/requirements.txt
PythonServer/run.bat
PythonServer/runVulkan.bat
PythonServer/server_config.json
PythonServer/vector_db/CodigoCivil_db/chroma.sqlite3
PythonServer/vector_db/CodigoCivil_db/e0e62a5b-1cea-41fe-85c5-15761be23c52/data_level0.bin
PythonServer/vector_db/CodigoCivil_db/e0e62a5b-1cea-41fe-85c5-15761be23c52/header.bin
PythonServer/vector_db/CodigoCivil_db/e0e62a5b-1cea-41fe-85c5-15761be23c52/index_metadata.pickle
PythonServer/vector_db/CodigoCivil_db/e0e62a5b-1cea-41fe-85c5-15761be23c52/length.bin
PythonServer/vector_db/CodigoCivil_db/e0e62a5b-1cea-41fe-85c5-15761be23c52/link_lists.bin
